@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 10px;
    /* background-color: #ffffff; */
    background: linear-gradient(0deg, rgb(5, 199, 102) 0%, rgb(12, 165, 192) 100%);
    color: #fff;
}


/*--------------------------------------- Header */

header {
    text-align: center;
    color: #0b0729;
}

header>h1 {
    font-weight: 100;
}


/* Controles */

button {
    margin: 15px;
    padding: 15px 25px;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: large;
    color: #ffffff;
}

button:hover {
    font-size: larger;
    color: #0b0729;
    opacity: 1;
    transform: scale(1.1);
}


/* Custom Button */

.button {
    background: linear-gradient(0deg, rgb(5, 199, 102) 0%, rgb(12, 165, 192) 100%);
    line-height: 42px;
    border: none;
}

.button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.button:before,
.button:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #3dbe77;
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, .9), -4px -4px 5px 0px rgba(255, 255, 255, .9), 7px 7px 20px 0px rgba(0, 0, 0, .2), 4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.button:before {
    height: 0%;
    width: 2px;
}

.button:after {
    width: 0%;
    height: 2px;
}

.button:hover {
    background: transparent;
}

.button:hover:before {
    height: 100%;
}

.button:hover:after {
    width: 100%;
}

.button span:before {
    width: 2px;
    height: 0%;
}

.button span:after {
    height: 2px;
    width: 0%;
}

.button span:hover:before {
    height: 100%;
}

.button span:hover:after {
    width: 100%;
}


/* Loading */

#loading {
    height: 100px;
    width: 100px;
    position: relative;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
}

#loading img {
    height: inherit;
    width: inherit;
}


/* ---------------------------------------Main */


/* Containers */

.flex-container {
    height: 500px;
    overflow: hidden scroll;
    margin-top: -100px;
}

#purshasesEl {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


/* Purshases */

.headerPurshases h1 {
    color: #0b0729;
    text-align: center;
}

.headerPurshases h1:hover {
    opacity: 1;
    transform: scale(1.1);
}

.purshases {
    margin: 5px 5px;
    padding: 10px 20px;
    background: #3dbe77;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.404);
    border-radius: 15px;
    align-self: baseline;
    min-width: 372.45px;
}

.purshases:hover {
    opacity: 1;
    transform: scale(1.1);
}

.purshases h3 {
    font-size: 25px;
    padding: 5px;
    color: #0b0729;
}

.purshases h3:hover {
    background-color: #305476;
    color: #ddd;
    border-radius: 5px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.404);
}

.purshases li {
    margin: 5px 0;
    color: #0b0729;
}

.purshases .tags {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.purshases .tags:hover {
    background-color: #305476;
    color: #ddd;
    border-radius: 5px;
}


/* ---------------------------------------Footer */


/* Containers */

.container {
    height: 500px;
    overflow: hidden scroll;
    padding: 10px;
}

#productsEl {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


/* Products */

.headerProducts h1 {
    color: #0b0729;
    text-align: center;
    margin: 10px;
}

.headerProducts h1:hover {
    opacity: 1;
    transform: scale(1.1);
}

.products {
    margin: 5px 5px;
    padding: 10px 20px;
    background: #3dabbe;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.404);
    border-radius: 15px;
    min-width: 372.45px;
}

.products:hover {
    opacity: 1;
    transform: scale(1.1);
}

.products h3 {
    font-size: 25px;
    padding: 5px;
    color: #0b0729;
}

.products h3:hover {
    background-color: #305476;
    color: #ddd;
    border-radius: 5px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.404);
}

.products li {
    margin: 5px 0;
    color: #0b0729;
}

.products .tags {
    margin-top: 1px;
    padding: 5px 10px;
    border-radius: 5px;
}

p {
    text-align: end;
}