@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: transform 0.2s;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 10px;
    background: linear-gradient(90deg, rgb(5, 199, 102) 0%, rgb(12, 165, 192) 100%);
    color: #fff;
}


/* Header */

header {
    text-align: center;
    color: #fff;
}

header>h1 {
    font-weight: 100;
}


/* Container */

#purchaseEl {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


/* Purchase */

.inputBox {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: inset 1px 1px 10px 0px #000000;
}

#data_estimada_de_entrega,
#data_do_envio,
#data_compra,
#_descricao {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

#_descricao {}

.headerId {
    display: flex;
    justify-content: center;
    align-content: center;
}

.headerPurchase {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.headerPurchase h1 {
    color: #020202;
    text-align: center;
    padding: 5px;
}

.headerPurchase h1:hover {
    opacity: 1;
    transform: scale(1.1);
}

.purshase {
    margin: 5px 5px;
    padding: 30px 30px;
    background: #3dbe77;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.404);
    border-radius: 15px;
    color: black;
}

.editCardButton :hover {
    opacity: 1;
    transform: scale(1.9);
}


/* Buttons */

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    padding: 15px;
    /* box-shadow: inset 1px 1px 15px 0px #000000; */
    /* border-radius: 10px; */
}

.controls .editCardButton {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}


/* Footer  */

footer {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding: 15px;
}

p {
    text-align: end;
}