@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: transform 0.2s;
}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 10px;
    background: linear-gradient(90deg, rgb(5, 199, 102) 0%, rgb(12, 165, 192) 100%);
    color: #fff;
}


/*--------------------------------------- Header */

header {
    text-align: center;
    color: #fff;
}

header>h1 {
    font-weight: 100;
}


/* Containers */

#purchaseEl {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


/* Purchase */

.headerPurchase {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.headerPurchase h1 {
    color: #020202;
    text-align: center;
    padding: 5px;
}

.headerPurchase h1:hover {
    opacity: 1;
    transform: scale(1.1);
}

.purshase {
    margin: 5px 5px;
    padding: 50px 50px;
    background: #3dbe77;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.404);
    border-radius: 15px;
    align-self: baseline;
    height: max-content;
    color: black;
}

.editCardButton :hover {
    opacity: 1;
    transform: scale(1.5);
}


/* Buttons */

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    padding: 15px;
}

.controls .editCardButton {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}


/* Footer  */

p {
    text-align: end;
}