@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: transform 0.2s;
}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 10px;
    /* background: linear-gradient(0deg, rgb(5, 199, 102) 0%, rgb(12, 165, 192) 100%); */
    background: rgb(192, 74, 74);
    color: #fff;
}


/*--------------------------------------- Header */

header {
    text-align: center;
    color: #0b0729;
    background: hsl(245, 7%, 70%);
}

header>h1 {
    font-weight: 100;
}


/* Containers */

.flex-container {
    height: 500px;
    overflow: hidden scroll;
    margin-top: -100px;
    border-radius: 15px;
    background: rgb(223, 7, 7);
}

#purchaseEl {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: rgb(1, 255, 107);
}


/* Purchase */

.headerPurchase {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    background: rgb(92, 10, 243);
}

.headerPurchase h1 {
    color: #0b0729;
    text-align: center;
    background: rgb(110, 112, 228);
    padding: 5px;
}

.headerPurchase h1:hover {
    opacity: 1;
    transform: scale(1.1);
}

.editCardButton :hover {
    opacity: 1;
    transform: scale(1.5);
}


/* Buttons */

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    padding: 15px;
    background: rgb(225, 240, 12);
}

.controls .editCardButton {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}


/* Footer  */

p {
    text-align: end;
    background: rgb(5, 5, 5);
}